#aboutImg {
  border-radius: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
}
.card-action {
  text-align: center;
}

#copyright {
  text-align: center;
}